body {
    /* background-color: #458094; */
    background-color: #71DAF0;
}

/* img { 
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;                 
    image-rendering: optimize-contrast;         
    -ms-interpolation-mode: nearest-neighbor;   

} */

.overall {

    border-style:outset;
    border-width: 0.6em;
    border-color: #599DA0;

    background-color: white;

    padding: 0.5em;

    margin: 2em;

    color: #2A5650;
}