body {
    /* background-color: #458094; */
    background-color: #71DAF0;
}

.overall {

    border-style:outset;
    border-width: 0.6em;
    border-color: #599DA0;

    background-color: white;

    padding: 0.5em;

    margin: 2em;

    color: #2A5650;
}