body {
    background-color: #002c42;
}

body::-webkit-scrollbar {
  display: none;
}

img { 
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;                 
    image-rendering: optimize-contrast;         
    -ms-interpolation-mode: nearest-neighbor;   
}

body {
    font-size: 1.4em;
    color: #2A5650;

    line-height: 1.5em;

    margin:0px;
    
}

header {
    height: 20em;
}

img.background {
    position: absolute;
    left: 0;
    top:-18em;
    z-index: -1;

    object-position: top center;

    width: 100%;

    object-fit: cover;
    height:38em;
}


.overall {

    border-style:outset;
    border-width: 0.4em;
    border-color: #599DA0;

    background-color: white;

    padding: 1em;

    margin: 1em;

    color: #2A5650;
}

.two-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.topnav {
    overflow: hidden;
    background-color: #352a2e;
    text-align: left;
    padding-top:0px;
    padding: 1em;
    z-index: -1;
    width:100%;

    color: #599DA0;
}

h1 {
    margin: 0em;
    font-size: 1.5em;

    padding: 0.2em;
}

button {
    background-color: #2A5650   ; /* Green */
    border: none;
    color: white;  
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    position: relative;
}

button:hover {
    background-color: #352a2e;
}

.resume {

    border-style:outset;
    border-width: 0.4em;
    border-color: #352a2e;

    background-color: #599DA0;
    color: white;

    padding: 1em;

    margin: 1em;

    text-align: center;

}

.resume p {
    display: inline-block;
}